/*  your css code here. If applicable */
.container{
	background-color:#d3d3d3;
	padding:10px;
}
.container li{
	display:inline;
	margin-right:1rem;
}
.container ul{
	list-style:none;
	padding:0;
	margin:0;
}
